server {
    listen 8106;

    root /root/mountainwater/ARKDEMO/bin-release/web/v1;

    location / {
        index index.html;
    }

    location /js/~.*(js)&{

        root /root/mountainwater/ARKDEMO/bin-release/web/v1/js;

    }
}