server {
    listen 80;
    server_name ark.metatype.cn;

    root /root/mountainwater/ARKDEMO/bin-release/web/v1;

    location / {
        index index.html;
    }

    location /js/~.*(js)&{

        root /root/mountainwater/ARKDEMO/bin-release/web/v1/;

    }

    location /~.*(txt)&{
        root /root/;
    }

}
